@model Klickit_Task.Models.User

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Login_Files/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_Files/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_Files/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_Files/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_Files/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_Files/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_Files/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_Files/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_Files/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Login_Files/css/all.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_Files/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Login_Files/css/main.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Login_Files/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url(../Login_Files/images/bg-01.jpg);">
            <div class="wrap-login100">
                <form class="login100-form validate-form" action="~/Home/Register" id="form1" method="post">
                    <span class="login100-form-logo">
                        <i class="fa fa-money"></i>
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                        Register
                    </span>

                    @Html.HiddenFor(n => n.User_Role, new { Value = "User" })

                    <div class="wrap-input100">
                        @Html.TextBoxFor(n => n.User_Email, new { @class = "input100", @placeholder = "Useremail" })
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        @Html.ValidationMessageFor(n => n.User_Email, "", new { @style = "color:white" })
                    </div>

                    <div class="wrap-input100 ">
                        @Html.PasswordFor(n => n.User_Password, new { @class = "input100", @placeholder = "Password" })
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        @Html.ValidationMessageFor(n => n.User_Password, "", new { @style = "color:white" })
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Register
                        </button>
                    </div>

                    <div class="text-center p-t-90">
                        <label>
                            @Html.ActionLink("Already Have an Account. Login Now.", "Login", "Home", new { style = "color:white" })
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Login_Files/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_Files/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_Files/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Login_Files/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_Files/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_Files/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Login_Files/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_Files/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_Files/js/main.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $("body").on("submit", "#form1", function () {
            return confirm("Do you want to submit?");
        });
    </script>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@ViewBag.Message');
            };
        </script>
    }

    @*ASP.net Scripts*@
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</body>
</html>