@using Klickit_Task.Models;

@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    List <Klickit_Task.Models.Product> products = ViewBag.Prod;
    List<long> ProductsIDsOrders= ViewBag.ProductsOrder;
}

<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>SHOP</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Home/Home">Home</a></li>
                    <li class="breadcrumb-item active">Shop</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Start Shop  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Select Product</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (products.Count != 0)
                            {
                                for (int i = 0; i < products.Count; i++)
                                {
                                    if (ProductsIDsOrders.Contains(products[i].Prod_ID))
                                    {
                                        <tr>
                                            <td>@products[i].Prod_Name</td>
                                            <td>@products[i].Prod_Price "L.E"</td>
                                            <td>
                                            </td>
                                        </tr>

                                    }
                                    else
                                    {
                                        <tr>
                                            <td>@products[i].Prod_Name</td>
                                            <td>@products[i].Prod_Price "L.E"</td>
                                            <td>
                                                <a href="@Url.Action("RequestOrder", "Home", new { id = products[i].Prod_ID })" class="ml-auto btn hvr-hover" style="color:white">Request Order</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            else
                            {
                                <tr>No Products Available Now!</tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop -->
